.App {
  text-align: center;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all 0.5s;
}

#themeBtn {
  color: var(--text-secondary);
  background-color: var(--table-primary);
  float: right;
  transition: all 0.5s;
  margin-top: 20px;
  margin-right: 20px;
}

#themesHeader {
  float: right;
  margin-top: 18px;
  margin-right: 20px;
  color: var(--text-primary);
}
