.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  /* in order to ensure the placeholder 
  text of the textarea tag matches the input tags  
  */
  font-family: sans-serif;
  max-width: 800px;
  box-shadow: 0 0 20px var(--table-shadow);
}

.styled-table thead tr {
  background-color: var(--table-primary);
  color: var(--text-secondary);
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

/* NOTE: the odd rows change color wrt to the background */
.styled.table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: var(--table-secondary);
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--table-primary);
}

.btn {
  border: none;
  color: var(--text-secondary);
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-edit {
  background-color: var(--edit-btn);
}

.btn-delete {
  background-color: var(--delete-btn);
}

.btn-deleteAll {
  background-color: var(--delete-btn);
  margin-left: 15px;
}

.btn-view {
  background-color: var(--view-btn);
  color: var(--text-primary);
}

.btn-item {
  background-color: var(--add-btn);
  margin-bottom: 20px;
}

/* additional view buttons below table */
.btn-stats {
  background-color: var(--table-primary);
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--text-secondary);
}

/* back button for each view page */
.btn-back-view {
  margin-top: 20px;
}
