.center {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--home-bg);
  height: 500px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 20px var(--table-shadow);
}

.home-title {
  margin-top: 75px;
  font-size: 52px;
}

.btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 200px;
}

.btn {
  border: none;
  color: var(--text-secondary);
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-item {
  background-color: var(--add-btn);
  font-size: 24px;
  padding: 20px 10px;
  margin: 15px 30px;
}

.btn-view {
  background-color: var(--home-view);
  font-size: 24px;
  padding: 20px 10px;
  margin: 4px 30px;
}
