.display {
  display: flex;
  left: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  color: var(--timer-display);
  text-shadow: 3px 3px 0px var(--timer-shadow);
}

p {
  margin: 5px;
}

.timerBtns {
  display: flex;
  justify-content: center;
}

.display {
  padding: 0px 20px;
  margin: 10px 785px;
  border: 4px solid var(--timer-border);
  border-radius: 16px;
}

.wrapper {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* timer background */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--home-bg);
  height: 520px;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0 0 20px var(--table-shadow);
}

#countDisplay {
  font-size: 60px;
  color: var(--counter-display);
  text-shadow: 3px 3px 0px var(--timer-shadow);
}

#startBtn {
  background-color: var(--timer-start);
  color: var(--timer-alt-text);
}

#incBtn {
  background-color: var(--timer-inc);
}

#decBtn {
  background-color: var(--timer-dec);
}

#resetBtn {
  background-color: var(--timer-reset);
  color: var(--timer-alt-text);
}

#backBtn {
  background-color: var(--timer-back);
}

#submitBtn {
  background-color: var(--timer-submit);
}

/* creating space between buttons */
.navBtns {
  margin-top: 20px;
}

.counter-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-btn {
  margin-left: 10px;
  margin-right: 10px;
}

/* disabled button styling */
#decBtn:disabled {
  background-color: var(--timer-dec-disabled);
  cursor: default;
}

#resetBtn:disabled {
  background-color: var(--timer-reset-disabled);
  cursor: default;
}

/* adding auto line break to timer name displayed */
#nameDisplay {
  width: 450px;
  height: 75px;
  overflow-wrap: break-word;
}

/* timer display container */
.timerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
